<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | @configuration.GetSection("SiteSettings")["SiteName"]</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/@configuration.GetSection("VersionSettings")["bootstrap"]/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
          crossorigin="anonymous"
          integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/styles/kendo.mobile.all.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="~/lib/busyload/busyloader.min.css" />

    <link href="https://use.fontawesome.com/releases/@configuration.GetSection("VersionSettings")["fontawesome"]/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" rel="stylesheet">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://www.google.com/recaptcha/api.js?onload=renderRecaptcha&render=explicit"></script>
    <script src="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/js/jquery.min.js"></script>
    @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/@configuration.GetSection("VersionSettings")["jQuery"]"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/@configuration.GetSection("VersionSettings")["bootstrap"]/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/@configuration.GetSection("VersionSettings")["kendo"]/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/busyload/busyloader.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="/Index" class="navbar-brand">@configuration.GetSection("SiteSettings")["SiteName"] | @configuration.GetSection("ContactInfoSettintgs")["Phone"]</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#our-office-head-section" class="nav-link">Our Office</a>
                    </li>
                    <li class="nav-item">
                        <a href="#our-team-head-section" class="nav-link">Our Team</a>
                    </li>
                    @*<li class="nav-item">
                            <a href="#share-head-section" class="nav-link">Share</a>
                        </li>*@
                    <li class="nav-item">
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>@RenderBody()</div>


    <footer class="border-top footer py-3 text-muted">
        <div class="container ">
            &copy; @DateTime.Now.Year <a target="_blank" href="/" title="@configuration.GetSection("SiteSettings")["SiteName"]">@configuration.GetSection("SiteSettings")["SiteDomain"]</a>. All Rights Reserved.
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
